<ko-main>
  <ko-horizontal-split height="60px" fixed="top">
    <ko-view ko-top>
      the top view
    </ko-view>
    <ko-vertical-split ko-bottom width="300px" fixed="left">
      <ko-title-panel ko-left>
        <div ko-title>Virksomheder</div>
        <ko-view ko-body>
          hiraki over virks.
        </ko-view>
      </ko-title-panel>
      <ko-title-panel ko-right>
        <div ko-title>
          title panel title
        </div>
        <ko-vertical-scroll ko-body>
          the body of the title panel
        </ko-vertical-scroll>
      </ko-title-panel>
    </ko-vertical-split>
  </ko-horizontal-split>
</ko-main>
