<ko-main>
  <ko-horizontal-split height="60px" fixed="top">
    <ko-top-menu ko-top [items]="items" [(current)]="current">
      Add your own content if needed
    </ko-top-menu>
    <ko-vertical-split ko-bottom width="60px" fixed="left">
      <ko-left-menu ko-left [items]="lItems" [(current)]="lCurrent">...</ko-left-menu>
      <ko-vertical-split ko-right width="300px">
        <ko-title-panel ko-left>
          <ko-header ko-title>Current select top menu: {{ current }}</ko-header>
          <ko-view ko-body>
            current left menu: {{ lCurrent }}
          </ko-view>
        </ko-title-panel>
        <ko-title-panel ko-right>
          <div ko-title>
            <span class="fa fa-archive"></span>title panel title
          </div>
          <ko-horizontal-split ko-body height="30px" fixed="bottom">
            <ko-vertical-scroll ko-top>
              <h3>Field focus test</h3>
              <input name="felt1" [(ko-focus)]="focus.felt1" /><button (click)="focus1()">Focus 1</button><br />
              <input name="felt2" [(ko-focus)]="focus.felt2" /><button (click)="focus2()">Focus 2</button><br />

              <h3>Decimal input test</h3>
              <input ko-decimal="2" [(ko-value)]="model.dn" (ko-valueChange)="dnWasChanged($event)" />


              <h3>Test ko-over</h3>
              <div [ko-over]="model">
                <span *ngIf="model.over">&gt;&gt;&gt;&nbsp;</span>
                try take the mouse over this area and see the result
                <span *ngIf="model.over">&nbsp;&lt;&lt;&lt;<br /><br /></span>
                <span *ngIf="model.over" style="font-weight: bold">It should be very visible that we have the mouse over</span>

                <br />
                <br />
                <span *ngIf="model.over">This will only be visible when mouse is over the div, while t</span>
                <span *ngIf="!model.over">T</span>his text should be visible at all time.
              </div>
            </ko-vertical-scroll>
            <ko-alert class="warning" ko-bottom>
              {{ model.message }}
            </ko-alert>
          </ko-horizontal-split>
        </ko-title-panel>
      </ko-vertical-split>
    </ko-vertical-split>
  </ko-horizontal-split>
</ko-main>
