<ko-main>
  <ko-horizontal-split height="60px" fixed="top">
    <ko-top-menu ko-top [items]="items" [(current)]="current">
      Add your own content if needed
    </ko-top-menu>
    <ko-vertical-split ko-bottom width="60px" fixed="left">
      <ko-left-menu ko-left [items]="lItems" [(current)]="lCurrent">...</ko-left-menu>
      <ko-vertical-split ko-right width="400px">
        <ko-title-panel ko-left>
          <ko-header ko-title align="right">
            <span class="fa fa-angle-up" (click)="toggleAll()" *ngIf="!all"></span>
            <span class="fa fa-angle-down" (click)="toggleAll()" *ngIf="all"></span>
            Current select top menu: {{ current }}
          </ko-header>
          <ko-horizontal-split height="50%" ko-body>
            <ko-view ko-top>
              <ko-expansion-panel [(expanded)]="expand1">
                <div ko-title>1. current left menu: {{ lCurrent }}</div>
                <div ko-body>
                  noget tekst noget
                </div>
              </ko-expansion-panel>

              <ko-expansion-panel [(expanded)]="expand2">
                <div ko-title>2. current left menu: {{ lCurrent }}</div>
                <div ko-body>
                  noget tekst noget, med flere linjer<br />
                  Linje 1<br />
                  Linje 2<br />
                  Linje 3<br />
                  Linje 4<br />
                  Linje 5<br />
                  Linje 6<br />
                  Linje 7<br />
                </div>
              </ko-expansion-panel>
            </ko-view>
            <ko-table-panel ko-bottom height="40px 58px">
              <table ko-table-header>
                <tr>
                  <th class="t1">Header 1</th>
                  <th class="t1">Header 2</th>
                  <th class="t1">Header 3</th>
                  <th class="t1">Header 4</th>
                  <th class="t1">Header 5</th>
                  <th>&nbsp;</th>
                  <th style="width: 18px"></th>
                </tr>
              </table>
              <table ko-table-body>
                <tr *ngFor="let number of numbers">
                  <td class="t1">Felt 1, {{number}}</td>
                  <td class="t1">Felt 2, {{number}}</td>
                  <td class="t1">Felt 3, {{number}}</td>
                  <td class="t1">Felt 4, {{number}}</td>
                  <td class="t1">Felt 5, {{number}}</td>
                  <td>&nbsp;</td>
                </tr>
              </table>
              <table ko-table-footer>
                <tr>
                  <th class="t1">200</th>
                  <th class="t1">300</th>
                  <th class="t1">400</th>
                  <th class="t1">500</th>
                  <th class="t1">600</th>
                  <th>&nbsp;</th>
                  <th style="width: 18px"></th>
                </tr>
              </table>
            </ko-table-panel>
          </ko-horizontal-split>
        </ko-title-panel>
        <ko-title-panel ko-right>
          <div ko-title>
            <span class="fa fa-archive"></span>title panel title
          </div>
          <ko-horizontal-split ko-body height="30px" fixed="bottom">
            <ko-vertical-split width="50%" ko-top>
              <ko-vertical-scroll ko-left>
                <h3>Field focus test</h3>
                <input name="felt1" [(ko-focus)]="focus.felt1" /><button (click)="focus1()">Focus 1</button><br />
                <input name="felt2" [(ko-focus)]="focus.felt2" /><button (click)="focus2()">Focus 2</button><br />

                <h3>Decimal input test</h3>
                <input [ko-decimal]="1" [(ko-value)]="model.dn" (ko-valueChange)="dnWasChanged($event)" />


                <h3>Test ko-over</h3>
                <div [ko-over]="model">
                  <span *ngIf="model.over">&gt;&gt;&gt;&nbsp;</span>
                  try take the mouse over this area and see the result
                  <span *ngIf="model.over">&nbsp;&lt;&lt;&lt;<br /><br /></span>
                  <span *ngIf="model.over" style="font-weight: bold">It should be very visible that we have the mouse over</span>

                  <br />
                  <br />
                  <span *ngIf="model.over">This will only be visible when mouse is over the div, while t</span>
                  <span *ngIf="!model.over">T</span>his text should be visible at all time.
                </div>
              </ko-vertical-scroll>
              <div style="position: absolute; left: 0; right: 0; bottom: 0; top: 0" ko-right>
                <div style="position: absolute; top: 0; left: 0; right: 0; height: 25%"><ko-alert class="success">Success alert</ko-alert></div>
                <div style="position: absolute; top: 25%; left: 0; right: 0; height: 25%"><ko-alert class="warning rounded">Rounded Warning alert</ko-alert></div>
                <div style="position: absolute; top: 50%; left: 0; right: 0; height: 25%"><ko-alert class="danger">Danger alert</ko-alert></div>
                <div style="position: absolute; top: 75%; left: 0; right: 0; height: 25%"><ko-alert class="disabled">Disabled alert</ko-alert></div>
              </div>
            </ko-vertical-split>
            <ko-alert class="warning" align="right" ko-bottom>
              {{ model.message }}
            </ko-alert>
          </ko-horizontal-split>
        </ko-title-panel>
      </ko-vertical-split>
    </ko-vertical-split>
  </ko-horizontal-split>
</ko-main>
